<div class="container">
    <mat-form-field>
        <input matInput placeholder="ID area" name="ID_Area"  [(ngModel)]="this.area.selected.ID_Area">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Nombre area" name="Nombre_Area" [(ngModel)]="this.area.selected.Nombre_Area">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Extensión area" name="Extensión_Area" [(ngModel)]="this.area.selected.Extension_Area">
      </mat-form-field> 
      <button type="submit" mat-flat-button color="primary" (click)= "onSaveForm()">
        <mat-icon>save</mat-icon> Guardar
      </button>    
</div>