<div>
    <mat-sidenav-container class="main-container">
        <mat-sidenav #sidebarRef opened mode ='over : side' [(opened)]='isSidebarOpen' >
            <mat-toolbar color="primary">
                Menú
                <button class="btn-cerrar"mat-icon-button (click)='sidebarRef.toggle()'>
                    <mat-icon >cancel</mat-icon>
                </button>
            </mat-toolbar>
            <mat-list>
                <mat-nav-list>
                    <a mat-list-item [routerLink]="['home']"><mat-icon>home</mat-icon>&nbsp; Principal</a>
                    <a mat-list-item [routerLink]="['areas']"><mat-icon>eco</mat-icon>&nbsp; Areas</a>
                    <a mat-list-item [routerLink]="['alojamientos']"><mat-icon>roofing</mat-icon> &nbsp; Alojamientos</a>
                    <a mat-list-item [routerLink]="['empleados']"><mat-icon>people_alt</mat-icon> &nbsp; Empleados</a>
                    <a mat-list-item [routerLink]="['parques']"><mat-icon>terrain</mat-icon> &nbsp; Parques</a>
                    <a mat-list-item [routerLink]="['visitantes']"><mat-icon>luggage</mat-icon> &nbsp; Visitantes</a>
                    <a mat-list-item [routerLink]="['especies']"><mat-icon>pets</mat-icon> &nbsp; Especies</a>
                    <a mat-list-item [routerLink]="['']"><mat-icon>nature_people</mat-icon> &nbsp;Servicios</a>
                    <mat-divider></mat-divider>
                    <a mat-list-item (click)="onLogout()"><mat-icon>exit_to_app</mat-icon> &nbsp;<strong>Cerrar sesión</strong> </a>
                  </mat-nav-list>
            </mat-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-toolbar color='primary' >
                <button *ngIf="user$ | async as user" mat-icon-button (click)='sidebarRef.toggle()'><mat-icon>menu</mat-icon></button>
                <span class="title-center">SISTEMA GESTIÓN DE PARQUES</span>  
                <p *ngIf="user$ | async as user" class="nombreU"> {{ user?.email }} </p>        
            </mat-toolbar>
            <ng-content></ng-content>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
