<div>
    <mat-sidenav-container class="main-container">
        <mat-sidenav #sidebarRef opened mode ='over : side' [(opened)]='isSidebarOpen' >
            <mat-toolbar color="primary">
                Menú
                <button class="btn-cerrar"mat-icon-button (click)='sidebarRef.toggle()'>
                    <mat-icon >cancel</mat-icon>
                </button>
            </mat-toolbar>
            <mat-list>
                <mat-nav-list>
                    <a mat-list-item [routerLink]="['home']"><mat-icon>home</mat-icon>&nbsp; Principal</a>
                    <a mat-list-item [routerLink]="['areas']"><mat-icon>eco</mat-icon>&nbsp; Areas</a>
                    <a mat-list-item [routerLink]="['alojamientos']"><mat-icon>roofing</mat-icon> &nbsp; Alojamientos</a>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                           <mat-panel-title>
                            <a mat-list-item [routerLink]="['empleados']"><mat-icon>people_alt</mat-icon> &nbsp; Empleados</a>
                           </mat-panel-title>
                         </mat-expansion-panel-header>
                         <a mat-list-item [routerLink]="['empleados-conservacion']"><mat-icon>engineering</mat-icon> &nbsp; Empleados de conservación</a>
                         <a mat-list-item [routerLink]="['empleados-gestion']"><mat-icon>streetview</mat-icon> &nbsp; Empleados de gestión</a>
                         <a mat-list-item [routerLink]="['empleados-investigacion']"><mat-icon>person_search</mat-icon> &nbsp; Empleados de investigación</a>
                         <a mat-list-item [routerLink]="['vigilantes']"><mat-icon>local_police</mat-icon> &nbsp; Vigilantes</a>
                       </mat-expansion-panel>                    

                    
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                           <mat-panel-title>
                            <a mat-list-item [routerLink]="['especies']"><mat-icon>emoji_nature</mat-icon> &nbsp; Especies</a>
                           </mat-panel-title>
                         </mat-expansion-panel-header>
                         <a mat-list-item [routerLink]="['especie-animal']"><mat-icon>pets</mat-icon> &nbsp; Especie animal</a>
                         <a mat-list-item [routerLink]="['especie-mineral']"><mat-icon>scatter_plot</mat-icon> &nbsp; Especie mineral</a>
                         <a mat-list-item [routerLink]="['especie-vegetal']"><mat-icon>local_florist</mat-icon> &nbsp; Especie vegetal</a>
                       </mat-expansion-panel>                    

                    <a mat-list-item [routerLink]="['parques']"><mat-icon>terrain</mat-icon> &nbsp; Parques</a>
                    <a mat-list-item [routerLink]="['']"><mat-icon>nature_people</mat-icon> &nbsp;Servicios</a>
                    <a mat-list-item [routerLink]="['visitantes']"><mat-icon>luggage</mat-icon> &nbsp; Visitantes</a>
                    


                    <mat-divider></mat-divider>
                    <a mat-list-item (click)="onLogout()"><mat-icon>exit_to_app</mat-icon> &nbsp;<strong>Cerrar sesión</strong> </a>
                </mat-nav-list>
            </mat-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-toolbar color='primary' >
                <button *ngIf="user$ | async as user" mat-icon-button (click)='sidebarRef.toggle()'><mat-icon>menu</mat-icon></button>
                <span class="title-center">SISTEMA GESTIÓN DE PARQUES</span>  
                <p *ngIf="user$ | async as user" class="nombreU"> {{ user?.email }} </p>        
            </mat-toolbar>
            <ng-content></ng-content>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
