.main-container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}

mat-sidenav {
      width: 313px;
} 
.title-center {
    flex: 1 1 auto;
    text-align: center;
  }
  a mat-icon{
     color:#616161 !important; 
  }

  .nombreU {
      font-size: 70%;
      text-align: right;
  }
.btn-cerrar{
    margin-left: 70%;
}

mat-expansion-panel-header {
    margin-left:  -25px;

}

mat-expansion-panel-header mat-icon{
    color:#616161 !important; 
}

mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
}
