<div class="container">
  <mat-form-field>
    <input matInput placeholder="Id parque" name="ID_Parque" [(ngModel)]=this.parque.selected.ID_Parque>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Superficie en CA" name="Superficie_CA" [(ngModel)]=this.parque.selected.Superficie_CA>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Nombre parque" name="Nombre_Parque" [(ngModel)]=this.parque.selected.Nombre_Parque>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="date" placeholder="Fecha declaración" name="Fecha_Declaracion" [(ngModel)]=this.parque.selected.Fecha_Declaracion>
  </mat-form-field>

  <button type="submit" mat-flat-button color="primary" (click)= "onSaveForm()">
    <mat-icon>save</mat-icon> Guardar
  </button>
</div>
