<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- DNI Column -->
  <ng-container matColumnDef="DNI">
    <th mat-header-cell *matHeaderCellDef> DNI </th>
    <td mat-cell *matCellDef="let element"> {{element.DNI}} </td>
  </ng-container>

  <!-- Nombre Column -->
  <ng-container matColumnDef="Nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
  </ng-container>

  <!-- # Seguridad Social Column -->
  <ng-container matColumnDef="# Seguridad Social">
    <th mat-header-cell *matHeaderCellDef> # Seguridad Social </th>
    <td mat-cell *matCellDef="let element"> {{element.# Seguridad Social}} </td>
  </ng-container>

  <!-- Direccion Column -->
  <ng-container matColumnDef="Direccion">
    <th mat-header-cell *matHeaderCellDef> Direccion </th>
    <td mat-cell *matCellDef="let element"> {{element.Direccion}} </td>
  </ng-container>
   <!-- Telefono Column -->
   <ng-container matColumnDef="Telefono">
    <th mat-header-cell *matHeaderCellDef> Telefono </th>
    <td mat-cell *matCellDef="let element"> {{element.Telefono}} </td>
  </ng-container>
   <!-- Salario Column -->
   <ng-container matColumnDef="Salario">
    <th mat-header-cell *matHeaderCellDef> Salario </th>
    <td mat-cell *matCellDef="let element"> {{element.Salario}} </td>
  </ng-container>
    <!-- Tipo Empleado Column -->
    <ng-container matColumnDef="Tipo Empleado">
      <th mat-header-cell *matHeaderCellDef> Tipo Empleado </th>
      <td mat-cell *matCellDef="let element"> {{element.Tipo Empleado}} </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
