<div class="container">
    <mat-form-field>
        <input matInput placeholder="ID especie" name="ID_Especie" [(ngModel)]=this.especies.selected.ID_Especie>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Denominación cientifica" name="Denom_Cientifica" [(ngModel)]=this.especies.selected.Denom_Cientifica>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Denominación vulgar" name="Denom_Vulgar" [(ngModel)]=this.especies.selected.Denom_Vulgar>
    </mat-form-field>
    <mat-form-field  *ngIf="area$ | async as area">
        <mat-select placeholder="Area" multiple [(ngModel)]=this.especies.selected.Area>
            <mat-option *ngFor="let area of area" [value]=area.Nombre_Area>{{area.Nombre_Area}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Tipo de mineral" name="Tipo_Mineral" [(ngModel)]=this.especies.selected.Tipo_Mineral>
            <mat-option value="Metalico">Metalico</mat-option>
            <mat-option value="No metalico">No metalico</mat-option>
        </mat-select>
    </mat-form-field>
    <button type="submit" mat-flat-button color="primary" (click)= "onSaveForm()">
        <mat-icon>save</mat-icon> Guardar
      </button>
</div>
